body {
  background-color: #f5f6f7;
}

.banner {
  width: 100%;
  background-color: #4267b2;
  height: 40px;
  flex-wrap: wrap;
  display: flex;
  position: sticky;
  top: 0;
}
.banner .sizeBanner {
  display: flex;
  width: 83%;
  height: 100%;
  margin: auto;
  justify-content: space-between;
}
.banner .sizeBanner .leftBanner {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.banner .sizeBanner .leftBanner img {
  height: 35px;
}
.banner .sizeBanner .leftBanner input {
  height: 25px;
  width: 400px;
  display: flex;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
  padding-left: 5px;
}
.banner .sizeBanner .leftBanner button:hover {
  background-color: lightgray;
}
.banner .sizeBanner .leftBanner button {
  height: 25px;
  width: 50px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #f5f6f7;
}
.banner .sizeBanner .leftBanner button img {
  height: 15px;
  margin-bottom: 5px;
}
.banner .sizeBanner .leftBanner img:hover {
  cursor: pointer;
}
.banner .sizeBanner .rightBanner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner .sizeBanner .rightBanner img {
  height: 35px;
}
.banner .sizeBanner .rightBanner p {
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid black;
}
.banner .sizeBanner .rightBanner .hover:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.banner .sizeBanner .rightBanner .profileID:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.banner .sizeBanner .rightBanner .profileID {
  display: flex;
  align-items: center;
}
.banner .sizeBanner .rightBanner .profileID p {
  color: white;
}
.banner .sizeBanner .rightBanner .profileID img {
  height: 30px;
  border-radius: 15px;
}
.banner .sizeBanner .rightBanner .logos {
  border-right: 1px solid black;
  padding-right: 10px;
  display: flex;
  margin-left: 10px;
}
.banner .sizeBanner .rightBanner .logos img {
  height: 25px;
  margin-left: 10px;
}
.banner .sizeBanner .rightBanner .logos img:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.banner .sizeBanner .rightBanner .help img {
  height: 25px;
  margin-bottom: 3px;
  margin-left: 10px;
}
.banner .sizeBanner .rightBanner .help img:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.main {
  width: 100%;
  margin-bottom: 200px;
}
.main .innerMain {
  display: flex;
  width: 83%;
  margin: auto;
}
.main .innerMain .leftMenu {
  width: 180px;
  position: fixed;
  top: 40px;
  padding-top: 20px;
  border: 1px solid black;
}
.main .innerMain .leftMenu .name {
  display: flex;
  padding-bottom: 15px;
  padding-left: 5px;
}
.main .innerMain .leftMenu .name img {
  height: 20px;
  border-radius: 15px;
}
.main .innerMain .leftMenu .name p {
  padding-left: 10px;
}
.main .innerMain .leftMenu .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main .innerMain .leftMenu p {
  padding-left: 10px;
  font-size: 13px;
}
.main .innerMain .leftMenu a img {
  height: 25px;
  padding-right: 10px;
  padding-bottom: 4px;
}
.main .innerMain .leftMenu a:hover {
  background-color: white;
  border: 0.5px solid lightgray;
}
.main .innerMain .leftMenu .shortcuts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.main .innerMain .leftMenu .explore {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main .innerMain .mainSection {
  display: flex;
  justify-content: space-between;
  width: 820px;
  margin: auto;
}
.main .innerMain .mainSection .makePost {
  display: flex;
  flex-direction: column;
}
.main .innerMain .mainSection .makePost .post {
  width: 500px;
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin-bottom: 10px;
}
.main .innerMain .mainSection .makePost .post .creatPost {
  padding-left: 10px;
  background-color: #f5f6f7;
  border-bottom: 1px solid lightgray;
}
.main .innerMain .mainSection .makePost .post .inputPost {
  display: flex;
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 10px;
  border-bottom: 1px solid lightgray;
}
.main .innerMain .mainSection .makePost .post .inputPost img {
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}
.main .innerMain .mainSection .makePost .post .inputPost input {
  width: 100%;
  border: none;
}
.main .innerMain .mainSection .makePost .tags {
  display: flex;
  justify-content: space-around;
}
.main .innerMain .mainSection .makePost .tags .photo {
  background-color: #f5f6f7;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main .innerMain .mainSection .makePost .tags .photo:hover {
  background-color: lightgray;
  cursor: pointer;
}
.main .innerMain .mainSection .makePost .tags .tagFriends {
  background-color: #f5f6f7;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main .innerMain .mainSection .makePost .tags .tagFriends:hover {
  background-color: lightgray;
  cursor: pointer;
}
.main .innerMain .mainSection .makePost .tags .feeling {
  background-color: #f5f6f7;
  border-radius: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.main .innerMain .mainSection .makePost .tags .feeling:hover {
  background-color: lightgray;
  cursor: pointer;
}
.main .innerMain .mainSection .makePost .tags img {
  height: 25px;
}
.main .innerMain .mainSection .feed {
  width: 500px;
  border: 1px solid lightgray;
  background-color: white;
}
.main .innerMain .mainSection .feed .inputPost {
  display: flex;
  align-items: center;
  margin: 10px;
}
.main .innerMain .mainSection .feed .inputPost img {
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
}
.main .innerMain .mainSection .feed .inputPost .tiny {
  font-size: 10px;
}
.main .innerMain .mainSection .feed .description {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.main .innerMain .mainSection .feed .image img {
  width: 497px;
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
.main .innerMain .mainSection .feed .likes {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  color: gray;
}
.main .innerMain .mainSection .feed .likes .likeNumber {
  display: flex;
  align-items: center;
}
.main .innerMain .mainSection .feed .likes .likeNumber img {
  height: 20px;
}
.main .innerMain .mainSection .feed .likes .likeNumber .numberOfLikes {
  margin-left: 10px;
}
.main .innerMain .mainSection .feed .likes .comment {
  display: flex;
}
.main .innerMain .mainSection .feed .likes .comment p {
  margin-left: 10px;
}
.main .innerMain .mainSection .feed .likes .comment .c:hover {
  cursor: pointer;
}
.main .innerMain .mainSection .feed .likes .comment .s:hover {
  cursor: pointer;
}
.main .innerMain .mainSection .feed .likeComment {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border-bottom: 1px solid lightgray;
  color: gray;
  padding-bottom: 10px;
}
.main .innerMain .mainSection .feed .likeComment p {
  margin-left: 10px;
}
.main .innerMain .mainSection .feed .likeComment .likeButton {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
.main .innerMain .mainSection .feed .likeComment .likeButton:hover {
  background-color: #f5f6f7;
  border-radius: 5px;
}
.main .innerMain .mainSection .feed .likeComment .commentButton {
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
.main .innerMain .mainSection .feed .likeComment .commentButton:hover {
  background-color: #f5f6f7;
  border-radius: 5px;
}
.main .innerMain .mainSection .commentWrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}
.main .innerMain .mainSection .commentWrap .comments {
  display: flex;
  margin: 10px 10px;
}
.main .innerMain .mainSection .commentWrap .comments img {
  height: 45px;
  border-radius: 50px;
  margin-right: 10px;
}
.main .innerMain .mainSection .commentWrap .comments img:hover {
  cursor: pointer;
}
.main .innerMain .mainSection .commentWrap .comments .userName {
  color: blue;
}
.main .innerMain .mainSection .commentWrap .comments .userName:hover {
  text-decoration: underline;
  cursor: pointer;
}
.main .innerMain .mainSection .commentWrap .comments p {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e8eaeb;
  border-radius: 50px;
}
.main .innerMain .mainSection .commentWrap .tag {
  display: flex;
  margin-left: 60px;
}
.main .innerMain .mainSection .commentWrap .tag p {
  margin-left: 10px;
  color: blue;
  margin-top: -10px;
}
.main .innerMain .mainSection .commentWrap .tag p:hover {
  cursor: pointer;
  text-decoration: underline;
}
.main .innerMain .mainSection .stories .storyFiller {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  width: 310px;
  height: 500px;
  background-color: pink;
}
.main .peopleOnline .peopleFiller {
  width: 205px;
  height: 100%;
  background-color: gray;
  position: fixed;
  right: 0;
}

/*# sourceMappingURL=input.css.map */
