@mixin bannerImg{
  img {
    height: 35px;
  }
}
@mixin bannerHover {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
  cursor: pointer;
}
$blue: #4267b2;
$lightgray: #f5f6f7;

body {
  background-color: $lightgray;
}
.banner {
  width: 100%;
  background-color: $blue;
  height: 40px;
  flex-wrap: wrap;
  display: flex;
  position: fixed;
  top: 0;
  .sizeBanner {
    display: flex;
    width: 83%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    .leftBanner {
      display: flex;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      @include bannerImg;
      img:hover {
        @include bannerHover;
      }
      input {
        height: 25px;
        width: 400px;
        display: flex;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border: none;
      }
      button {
        height: 25px;
        width: 50px;
        border: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: $lightgray;
        img {
          height: 15px;
          margin-bottom: 5px;
        }
      }
    }
    .rightBanner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include bannerImg;
      p {
        color: white;
        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid black;
      }
      .hover:hover {
        @include bannerHover;
      }
      .profileID:hover {
        @include bannerHover;
      }
      .profileID {
        display: flex;
        align-items: center;
        p {
          color: white;
        }
        img {
          height: 30px;
          border-radius: 15px;
        }
      }
      .logos {
        border-right: 1px solid black;
        padding-right: 10px;
        display: flex;
        margin-left: 10px;
        img {
          height: 25px;
          margin-left: 10px;
        }
        img:hover {
          @include bannerHover;
        }
      }
      .help {
        img {
          height: 25px;
          margin-bottom: 3px;
          margin-left: 10px;
        }
        img:hover {
          @include bannerHover;
        }
      }
    }
  }
}

.main {
  border: 1px solid red;
  width: 100%;
  margin-top: 40px;
  .innerMain {
    display: flex;
    width: 83%;
    margin: auto;
    .leftMenu {
      width: 180px;
      position: fixed;
      top: 40px;
      padding-top: 20px;
      border: 1px solid black;
      .name {
        display: flex;
        padding-bottom: 15px;
        padding-left: 5px;
        img {
          height: 20px;
          border-radius: 15px;
        }
        p {
          padding-left: 10px;
        }
      }
      .links {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      p {
        padding-left: 10px;
        font-size: 13px;
      }
      a {
        img {
          height: 25px;
          padding-right: 10px;
          padding-bottom: 4px;
        }
      }
      a:hover {
        background-color: white;
        border: 0.5px solid lightgray;
      }
      .shortcuts {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px 0;
      }
      .explore {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .mainSection {
      display: flex;
      width: 820px;
      margin: auto;
      border: 1px solid red;
      .feed {
        .feedFiller {
          width: 500px;
          height: 200px;
          background-color: limegreen;
        }
      }
      .stories {
        display: flex;
        justify-content: flex-end;
        .storyFiller {
          width: 310px;
          height: 500px;
          background-color: pink;
        }
      }
    }
  }
  .peopleOnline {
    .peopleFiller {
      width: 205px;
      height: 100%;
      background-color: gray;
      position: fixed;
      right: 0;
    }
  }
}
